You will be given a resume of the following yaml format {{ resume_yaml_template }} and a job description from a company.

Resume start:
{{ resume }}
Resume end

Job description start:
{{ job_description }}
Job description end:

Tailor the resume using  the content of the resume to the job description. Here are the requirements:
- Make sure all the important keywords are present in the resume
- ONLY INCLUDE EXPERIENCES AND PROJECTS MENTIONED IN THE GIVEN RESUME, DO NOT FABRICATE NEW THINGS
- There can be multiple experiences, but include at most 4 experiences that are most aligned with the job description and make sure they are in reverse chronological order
- There can be multiple projects, but include at most 3 projects that are most aligned with the job description and make sure they are in reverse chronological order
- Leave the project's summary untouched, but you can change the details bullet points of it
- Make sure all important keywords are included in the bullet points
- Each bullet points must be roughly the same length matching the style of the original resume and quantified and tailored as much as possible. Make the bullet point read a bit more human, meaning that each bullet points can have different structure. Be more creative with your sentence structure, don't just use participial clause. It makes the resume sound unnatural
- DO NOT use first-person in the resume. Keep it professional
- Include as much skills as possible that are given in the resume, sorting by order of importance as detected in the job description

Think before tailoring and return a json response of the following format:
{
  "keywords": <list of important keywords in the job description. Pay attention to technologies needed. Make sure to incorporate these keywords in the resume also>
  "resume": <the tailored resume string formatted in json closely following the above resume template yaml format>
}

Make absolutely sure to follow the same structure as the above yaml format!!!
