<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resume Tailoring Tool</title>
  <link rel="stylesheet" href="../static/styles/index.css">
</head>

<body>
  <div id="autoresume-header">
    <h1>Tailor your resume with AI</h1>
  </div>
  <div id="autoresume-viewer">
    <!-- Left side for the controlling input -->
    <div class="control-container">
      <!-- Tabs for navigation -->
      <div class="tabs">
        <button class="tablink" onclick="openTab(event, 'Original')" id="defaultOpen">Original</button>
        <button class="tablink" onclick="openTab(event, 'JobDescription')">Job description</button>
        <button class="tablink" onclick="openTab(event, 'Tailored')">Tailored</button>
      </div>

      <!-- Tab content -->
      <div id="Original" class="tabcontent">
        <h3 class="tab-title-text">Input your resume here using the template</h3>
        <button class="tab-button" onclick="validateResume()">Validate</button>
        <button class="tab-button">Generate</button>
        <textarea id="original-resume-editor" class="text-editor resume-editor"
          placeholder="resume.yaml">{{resume_yaml_template}}</textarea>
        <textarea id="original-resume-error-viewer" class="text-editor error-viewer"
          placeholder="Validation results will appear here" disabled></textarea>
      </div>

      <div id="JobDescription" class="tabcontent">
        <div class="job-description-container">
          <h3 class="tab-title-text">Input company name and job description</h3>
          <button class="tab-button">Tailor resume</button>
          <input type="text" class="company-name" placeholder="Company name">
          <textarea class="job-description" placeholder="Job Description"></textarea>
        </div>
      </div>

      <div id="Tailored" class="tabcontent">
        <h3 class="tab-title-text">Make changes to tailored resume to your heart's desire</h3>
        <button class="tab-button">Regenerate</button>
        <textarea class="text-editor resume-editor" placeholder="tailored_resume.yaml"></textarea>
      </div>
    </div>

    <!-- Right side for the PDF viewer -->
    <div class="viewer-container">
      <div class="viewer-tabs">
        <button class="viewlink" onclick="openResume(event, 'OriginalPDF')" id="defaultResume">Original</button>
        <button class="viewlink" onclick="openResume(event, 'TailoredPDF')">Tailored</button>
      </div>
      <div class="resume-viewer">
        <embed id="OriginalPDF" src="original_resume.pdf" width="100%" height="100%" type="application/pdf">
        <embed id="TailoredPDF" src="tailored_resume.pdf" width="100%" height="100%" type="application/pdf"
          style="display:none;">
      </div>
    </div>
  </div>
  <script src="../static/scripts/index.js"></script>
</body>

</html>