<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resume Tailoring Tool</title>
  <link rel="stylesheet" href="../static/styles/index.css">
</head>

<body onload="startup()">
  <div id="autoresume-header">
    <h1>Tailor your resume with AI</h1>
  </div>
  <div id="autoresume-viewer">
    <!-- Left side for the controlling input -->
    <div class="control-container">
      <!-- Tabs for navigation -->
      <div class="tabs">
        <button id="Original-editor-tab-button" class="tablink" onclick="openTab('Original')">Original</button>
        <button id="JobDescription-editor-tab-button" class="tablink" onclick="openTab('JobDescription')">Job
          description</button>
        <button id="Tailored-editor-tab-button" class="tablink" onclick="openTab('Tailored')">Tailored</button>
        <button id="Answer-editor-tab-button" class="tablink defaultOpen" onclick="openTab('Answer')">Answer
          questions</button>
      </div>

      <!-- Tab content -->
      <div id="Original" class="tabcontent">
        <h3 class="tab-title-text">Input your resume here using the template</h3>
        <button id="original-validate-button" class="tab-button"
          onclick="resumeAction('validate', 'original')">Validate</button>
        <button id="original-render-button" class="tab-button"
          onclick="resumeAction('render', 'original')">Render</button>
        <textarea id="original-resume-editor" class="text-editor resume-editor"
          placeholder="You can edit, copy, or paste your or other's resume here.">{{resume_yaml_template}}</textarea>
        <textarea id="original-resume-error-viewer" class="text-editor error-viewer"
          placeholder="Validation results will appear here" disabled></textarea>
      </div>

      <div id="JobDescription" class="tabcontent">
        <h3 class="tab-title-text">Input company name and job description</h3>
        <form id="job-description-form">
          <button class="tab-button" onclick="tailorResume()">Tailor Resume</button>
          <input id="company-name" type="text" class="company-name" placeholder="Company name" required>
          <textarea id="job-description-editor" placeholder="Job Description" required></textarea>
        </form>
      </div>

      <div id="Tailored" class="tabcontent">
        <h3 class="tab-title-text">Make changes to tailored resume to your heart's desire</h3>
        <p id="tailored-tab-keywords">Keywords:</p>
        <button id="tailored-validate-button" class="tab-button"
          onclick="resumeAction('validate', 'tailored')">Validate</button>
        <button id="tailored-render-button" class="tab-button"
          onclick="resumeAction('render', 'tailored')">Render</button>
        <textarea id="tailored-resume-editor" class="text-editor resume-editor"
          placeholder="Your tailored resume will appear here. You can edit or copy this anywhere."></textarea>
        <textarea id="tailored-resume-error-viewer" class="text-editor error-viewer"
          placeholder="Validation results will appear here" disabled></textarea>
      </div>

      <div id="Answer" class="tabcontent">
        <h3 class="tab-title-text">Automatically answer question from job application</h3>
        <p class="tab-title-text">This will help you in answer those pesky job application questions, using the original
          resume and the provided job description. Please make sure to fill out the "Original" and "Job description"
          tabs. If you want to make more adjustments to the answer, copy the prompt using "Copy Prompt" button and use
          it in <a
            href="https://chatgpt.com/?q=To+user+Make+sure+to+copy+the+prompt+and+paste+it+here,+To+GPT+You+dont+have+to+say+anything&temporary-chat=true"
            target="_blank">ChatGPT</a>.</p>
        <p id="answer-empty-error-text" class="tab-subtitle-text error-text" style="display: none;">Missing original
          resume or job description!
        </p>

        <form id="answer-question-form" onsubmit="answerAppQuestion(event)">
          <button class="tab-button" type="submit">Answer</button>
          <button class="tab-button" onclick="copyPrompt()">Copy prompt</button>

          <textarea id="answer-question-editor" class="text-editor" type="text" required
            placeholder="Input job application question here. Be sure to include any word limits."></textarea>
          <h4 class="tab-subtitle-text">Answer</h4>
          <textarea id="answer-answer-viewer" class="text-editor error-viewer"
            placeholder="Answer will appear here. You can edit this before pasting it in the job application."></textarea>
          <h4 class="tab-subtitle-text">Analysis</h4>
          <textarea id="answer-analysis-viewer" class="text-editor error-viewer"
            placeholder="This will explain to you what the job application is looking for in asking this question."
            disabled></textarea>
        </form>
      </div>
    </div>

    <!-- Right side for the PDF viewer -->
    <div class="viewer-container">
      <div class="viewer-tabs">
        <button id="original-viewer-tab-button" class="viewlink defaultResume"
          onclick="openResume('original')">Original</button>
        <button id="tailored-viewer-tab-button" class="viewlink" onclick="openResume('tailored')">Tailored</button>
      </div>
      <div class="resume-viewer">
        <h3 id="viewer-title-text" class="tab-title-text">Resume viewer</h3>
        <a id="download-link" style="display: none;">
          <button class="tablink">Download</button>
        </a>
        <embed id="original-resume-pdf" width="100%" height="100%" type="application/pdf">
        <embed id="tailored-resume-pdf" width="100%" height="100%" type="application/pdf" style="display:none;">
      </div>
    </div>
  </div>
  <script src="../static/scripts/index.js"></script>
</body>

</html>